.AddTack {
    margin-inline: 150px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #000000;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: #d4effa;
        transform: scale(1.1);
    }
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .add-task-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .add-task-button:hover {
    background-color: #0056b3;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .task-item {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .task-heading {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%; /* Можно установить точную ширину, если необходимо */
  }
  

  .task-text {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .task-delete-button,
  .task-edit-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .task-edit-button {
    background-color: #28a745;
  }
  
  .task-delete-button:hover {
    background-color: #c82333;
  }
  
  .task-edit-button:hover {
    background-color: #218838;
  }