.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 200px;

    &__input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
        box-sizing: border-box; // Убедитесь, что padding учитывается в ширине элемента
    }

    &__button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }
    }

    &__text {
        margin-top: 20px;
        text-align: center;
        font-size: 0.9rem;
        color: #333;
    }

    &__link {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: #0056b3;
        }
    }
}
